
<div class="backgr">
  <div class="container">
<div class="py-5 text-center">
<br>
<img class="d-block mx-auto mb-4" src="https://cdn.pixabay.com/photo/2018/08/23/20/27/gym-3626589_960_720.png" alt="" width="72" height="72">
  <h2>Business Profile</h2>
</div>
  
  <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Add Business Profile</h4>
      <br>
      <form class="needs-validation" novalidate>
      <div class="row">
          <div class="col-md-5 mb-3">
            <label for="mainCategory">Main Category : </label>
            <select class="custom-select d-block w-100" id="" required>
              <option value="">Choose...</option>
              <option>Fitness</option>
              <option>Wellness</option>
              <option>Sports</option>
          </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="subCategory">Sub Category</label>
            <select class="custom-select d-block w-100" required>
              <option value="">Choose...</option>
              <option>BodyWeight</option>
              <option>General</option>
            </select>
          </div>
          </div>
          <br><br>
          <div class="col-md-4 mb-3">
              <label for="gender">Gender :</label>
              <select class="custom-select d-block w-100" id="" required>
                <option value="">Choose...</option>
                <option>Male</option>
                <option>Female</option>
                <option>Mixed</option>
              </select>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="logo">Logo : </label>
                <input type="text" class="form-control" id="logo" placeholder="" value="" required>
                <button class="btn btn-primary">Upload</button>
              </div>
              <div class="col-md-6 mb-3">
                <label for="">Business Photos</label>
                <input type="text" class="form-control" id="" placeholder="" value="" required>
                <button class="btn btn-primary">Upload</button>
              </div>
            </div>
      
            <div class="mb-3">
              <label >Business Name :</label>
              <input type="text" class="form-control" placeholder="Business Name" required>
            </div>
      
            
      
            <div class="mb-3">
              <label >About My Business :</label>
              <input type="text" class="form-control"  required>
            </div>
            <div class="row">
            <div class="col-md-6 mb-3">
              <label >WebSite:</label>
              <input type="text" class="form-control" placeholder="" value="">
            </div>
            <div class="col-md-6 mb-3">
              <label >Social Media Site @</label>
              <input type="text" class="form-control" placeholder="@" value="">
            </div>
            </div>
            <button class="btn btn-primary">Submit</button>
            <br><br>
            </form>