<div class="backgr">
    <div class="container">
<div class="py-5 text-center">
<br>
<img class="d-block mx-auto mb-4" src="https://cdn.pixabay.com/photo/2018/08/23/20/27/gym-3626589_960_720.png" alt="" width="72" height="72">
    <h2>Profile</h2>
  </div>
    
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Complete your profile</h4>
        <br>
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            </div>
          </div>
    
          <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
          </div>
    
          
    
          <div class="mb-3">
            <label for="mobile">Mobile Phone Number</label>
            <input type="email" class="form-control" id="email" placeholder="+201*********" required>
          </div>
          <div class="row">
          <div class="col-md-6 mb-3">
            <label for="height">Height</label>
            <input type="number" class="form-control" id="City" placeholder="" value="">
          </div>
          <div class="col-md-6 mb-3">
            <label for="weight">Current Weight</label>
            <input type="number" class="form-control" id="lastName" placeholder="" value="">
          </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="" value="">
            </div>
            <div class="col-md-6 mb-3">
                <label for="bio">Bio</label>
                <input type="text" class="form-control" id="" placeholder="Bio" value="">
              </div>
            </div>
            <br>
        <div class="row">
            <div class="col-md-5 mb-3">
              <label for="howActive">How active I'm : </label>
              <select class="custom-select d-block w-100" id="" required>
                <option value="">Choose...</option>
                <option>Very active</option>
                <option>Active</option>
                <option>Lightly active</option>
                <option>Not very active</option>
            </select>
            </div>
            <div class="col-md-4 mb-3">
              <label for="gender">Gender</label>
              <select class="custom-select d-block w-100" id="gender" required>
                <option value="">Choose...</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <br><br>
            <div class="col-md-4 mb-3">
                <label for="goal">My Goal :</label>
                <select class="custom-select d-block w-100" id="" required>
                  <option value="">Choose...</option>
                  <option>Lose Weight</option>
                  <option>Maintain Weight</option>
                  <option>Gain Weight</option>
                  <option>Stay fit and Healthy</option>
                </select>
              </div>


              
            <div class="col-md-3 mb-3">
              <label for="birthdate">Birthdate</label>
              <input type="date" class="form-control" id="Birthdate" placeholder="" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
                <label for="goalWeight">My Goal Weight</label>
                <input type="text" class="form-control" id="" placeholder="" value="" required>
              </div>
          </div>

          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    